*{
    margin: 0;
    padding: 0;
    background-color: rgb(13, 17, 23);
    color: rgb(201, 209, 217);
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
     
}

.content{
    width: 80%;
    height: 100%;
    content: centr;
    margin-left: 10%;
    
}
header{
    font-size: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin-bottom: 5px;
    padding-bottom: 10px;
    padding-top: 20px;
}
.avatar{
    vertical-align:top;
    height: 64px;
    width: 64px;
   border-radius: 90%;

}
.title{
    font-size: 32px;
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid gray;
}